<div class="container">
  <h1>Welcome to Tweet-O-Matic!</h1>
  <form method="POST" action="/tweet">
    <input type="text" name="tweet" placeholder="tweet">
    <input type="submit" value="Tweet It!">
  </form>
</div>
